{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "console": true,
    "document": true,
    "expect": true,
    "fetch": true,
    "navigator": true,
    "process": true,
    "test": true,
    "URL": true,
    "window": true
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ]
  }
}
